

@* products table *@
<div >
	<table id="productsTable" class="table"
		   data-toggle="table"
		   data-sort-class="table-active"
		   data-sortable="true"
		   data-search="true"
		   data-pagination="true"
		
		   data-height="460">
		<thead>
			<tr>
				<th></th>
				<th scope="col">Item Code</th>
				<th scope="col">Name</th>
				<th scope="col" style="width:100px">Unit Price</th>
				<th scope="col" style="width:150px">Stock</th>
				<th scope="col" style="width:170px">Sku</th>
			</tr>
		</thead>

		<tbody >
			@if(allProducts != null)
			{
				@foreach (var product in allProducts)
				{
					<tr>
						<td>
							<input type="checkbox" class="product-checkbox" data-product-id="@product.ProductID" @onchange="() => ToggleSelection(product.ProductID)" checked="@selectedProductIds.Contains(product.ProductID)" />
						</td>
						<td>@product.SKU</td>
						<td>@product.ActualProductName</td>
						<td> @product.RegularPrice </td>
						<td> @product.AvailableQty </td>
						<td> @product.SKU </td>
					</tr>
				}
			}
			
		</tbody>
	</table>
	<div>
		@* @for(int i = 0; i < totalPages; i++)
		{    
			<button @onclick="() => ChangePage(i)" >Previous</button>
		}
		<button @onclick="() => ChangePage(--currentPage)" disabled="@(currentPage == 1)">Previous</button>
		<button @onclick="() => ChangePage(++currentPage)">Next</button> *@
	</div>
</div>
<div class="d-flex justify-content-end p-2">
	<button type="button" class="btn btn-default me-1 fs-16px" data-bs-dismiss="modal">Cancel</button>
	<button class="btn btn-theme ms-1  fs-16px" data-bs-dismiss="modal" @onclick="AddSelectedProducts">Add Selected Products</button>
</div>


<script src="assets/plugins/bootstrap-table/dist/bootstrap-table.min.js"></script>
