

@* products table *@
<div >
	<MudTable ServerData="ServerReload" FixedHeader="true" FixedFooter="true" Height="400px" MultiSelection="true" Dense="true" Hover="true" Bordered="true" @ref="table" @bind-SelectedItems="selectedItems"  SelectOnRowClick="true">
		<ToolBarContent>
			@if(IsInventory){
			<MudText Typo="Typo.h6">Inventory Products</MudText>
			}
			else{
			<MudText Typo="Typo.h6">Non Inventory Products</MudText>
			}
			<MudSpacer />
			<MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
						  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
		</ToolBarContent>
		<HeaderContent>

			<MudTh>Item Code</MudTh>
			<MudTh>Description</MudTh>
			<MudTh>Category</MudTh>
			<MudTh>SKU</MudTh>
			<MudTh>Unit Cost</MudTh>
		</HeaderContent>
		<RowTemplate>
			<MudTd DataLabel="Item Code">@context.ProductID</MudTd>
				<MudTd DataLabel="Description">@context.ProductName</MudTd>
				<MudTd DataLabel="Category">@context.ProductCategoryTitle</MudTd>
				<MudTd DataLabel="SKU">@context.SKU</MudTd>
				<MudTd DataLabel="Unit Cost">@context.UnitCost.ToString("0.##")</MudTd>
			</RowTemplate>
			<NoRecordsContent>
				<MudText>No matching records found</MudText>
			</NoRecordsContent>
			<PagerContent>
				<MudTablePager />
			</PagerContent>
		</MudTable>
</div>
<div class="d-flex justify-content-end p-2">
	<button type="button" class="btn btn-default me-1 fs-16px" data-bs-dismiss="modal">Cancel</button>
	<button class="btn btn-theme ms-1  fs-16px" data-bs-dismiss="modal" @onclick="AddSelectedProducts">Add Selected Products</button>
</div>


<script src="assets/plugins/bootstrap-table/dist/bootstrap-table.min.js"></script>
