<tr>
    <td>@cartProduct.ItemCode</td>
    <td>@cartProduct.Name</td>
    <td>
        <input id="cartItemQuantity_@cartProduct.ProductId"
               class="form-control form-select-sm  inline-input fs-14px"
               @onchange="HandleQuantityInput"
               value="@cartProduct.Quantity"
               type="number"
               min="1" style="width:100%">
    </td>
    <td >
        <div class="d-flex align-items-center">
            <span class="ps-1">$</span>
            <input tabindex="-1" id="cartItemUnitPrice_@cartProduct.ProductId"
                   class="form-control form-select-sm inline-input fs-14px "
                   value="@cartProduct.UnitPrice"
                   @onchange="HandleUnitPriceInput"
                   type="number"
                   step="0.01"
                   min="0.01" style="width:100%;margin-left:-13px;padding-left:13px;">
        </div>
    </td>
    <td>
        <div class="d-flex align-items-center">
            <span class="ps-1">$</span>
            <input tabindex="-1" id="cartItemDiscount_@cartProduct.ProductId"
                   class="form-control form-select-sm inline-input fs-14px "
                   value="@cartProduct.Discount"
                   @onchange="HandleDiscountInput"
                   type="number"
                   step="0.01"
                   min="0.01" style="width:100%;margin-left:-13px;padding-left:13px;">
        </div>
    </td>
    <td>$@((cartProduct.UnitPrice * cartProduct.Quantity) - cartProduct.Discount)</td>
    <td><input class="form-check-input" tabindex="-1" @onchange="HandleSalesTaxInput" type="checkbox" value="@cartProduct.IsSaleTax" id="defaultCheck1" checked></td>
    <td> <div class="d-flex justify-content-center">
            <i @onclick="RemoveProduct" class="fa fa-trash btn-outline-danger" style="font-size: 18px;border-radius:3px;padding: 5px;"></i>
    </div></td>
</tr>

<style>
   /*  .inline-input{
        border:none;
    }
    .inline-input:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
    } */
    
    </style>

