<div class="product-card position-relative p-2 mt-3">
    <div class="d-flex justify-content-between align-items-center p-2 text-black" style="font-weight:600">
        <p style="flex:1;">@invoiceProduct.OriginalProductID</p>
        <p style="flex:2;">@invoiceProduct.ProductName</p>
        <div style="flex:1;">
            <div style="width:80%;background-color:white;">
                <input class="form-control" type="number"
                       @onchange="HandleUnitPriceInput"
                       value="@invoiceProduct.LIPricingDetails.UnitPrice.ToString("0.##")" disabled="@((invoiceProduct.ProductDiscountAmount > 0) || (invoiceProduct.ProductDiscount > 0))" style="font-weight:600" placeholder="0">
            </div>
        </div>
        
        <div style="flex:1;">
            <div style ="width:70%;background-color:white; position:relative;">
                
                @if (invoiceProduct.ProductDiscountType == (int)DiscountTypeEnum.Dollar)
                {
                    <input id="discountInput" class="form-control" type="number"
                           @onchange="HandleDiscountInput"
                           style="font-weight:600;" placeholder="0" value="@(invoiceProduct.ProductDiscountAmount)">
                    <span @onclick="() => ChangeProductDiscountType()" style="cursor:default; user-select: none;position:absolute; top:50%; right:10px; transform:translateY(-50%); font-weight:600;">$</span>
                }
                else
                {
                    <input id="discountInput" class="form-control" type="number"
                           @onchange="HandleDiscountInput"
                           style="font-weight:600;" placeholder="0" value="@((int)invoiceProduct.ProductDiscount)">
                    <span @onclick="() => ChangeProductDiscountType()" style="cursor:default; user-select: none;position:absolute; top:50%; right:10px; transform:translateY(-50%); font-weight:600;">%</span>
                }

            </div>
        </div>
        <p style="flex:1;">
            <div style="width:60%;background-color:white;">
                <input class="form-control"
                       @onchange="HandleQuantityInput" type="number" style="font-weight:600" placeholder="0" value="@((int)invoiceProduct.LIPricingDetails.TotalSQF)" disabled="@((invoiceProduct.ProductDiscountAmount > 0) || (invoiceProduct.ProductDiscount > 0))">
            </div>
        </p>
        <div style="flex:.5;">
            <input type="checkbox" @onchange="HandleSalesTaxInput" disabled="@((invoiceProduct.ProductDiscountAmount > 0) || (invoiceProduct.ProductDiscount > 0))" checked value="@invoiceProduct.LIPricingDetails.IsTaxable">
        </div>
        <p style="flex:1;">$@(invoiceProduct.LIPricingDetails.TotalPrice )</p>

    </div>
    <div style="position:absolute; top: 50%;
                right:7px;
                transform: translate(-50%, -50%);">
        <i @onclick="RemoveProduct" class="fa-solid fa-trash fs-16px"></i>
    </div>
    <div style="position:absolute;top:-7px;">
        @if (invoiceProduct.IsStock)
        {
            <i class="fa-solid fa-cubes"></i>
        }
        else
        {
            <i class="fa-solid fa-qrcode"></i>
        }
    </div>
</div>